.category_card {
    margin: 10px;
  }
  .opacity {
    opacity: 0.5;
  }
  
  .btn_light {
    background-color: #fff;
    border-color: #dee2e6;
    color: #212529;
  }
  .img_category {
    height: 160px;
    object-fit: cover;
  }
  .category_card {
    padding: 0;
  }
  