.category-card {
  margin: 10px;
}
.opacity {
  opacity: 0.5;
}

.btn-light,
.categories {
  background-color: #fff;
  border-color: #dee2e6;
  color: #212529;
}
.img-category {
  height: 160px;
  object-fit: cover;
}
.category-card {
  padding: 0;
}
