.side-bar-container {
  position: absolute;
  height: 100vh;
}
span {
  color: black;
}
.side-bar {
  position: sticky;
  z-index: 10;
  top: 10px;
  .card {
    border: 1px solid black;
    border-radius: 10px;
  }
  .card-body {
    width: max-content;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    width: max-content;
    text-align: start;

    li {
      li {
        margin-left: 20px;
        margin-top: 5px;
        text-decoration: none;
        a {
          color: inherit;
        }
      }
    }
  }
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 60px;
  width: 60px;
  margin-left: 10px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.img-container:hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transform: rotate(180deg);
}


.btn-toggle::before{
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}


.btn-toggle[aria-expanded="true"]::before{
  transform: rotate(90deg);
}
